@model Desafio.Models.Empresas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Empresas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome_Fantasia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome_Fantasia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_Do_Cadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Do_Cadastro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
