@{
    ViewBag.Title = "Resultados da Api";

    <table class="table">
        <tr>
            <td><b>Nome</b></td>
            <td><b>Email</b></td>
            <td><b>Cnpj</b></td>
            <td><b>Data_Situação</b></td>
            <td><b>numero</b></td>
        </tr>


        <tr>
            <td>@Model.nome</td>
            <tb>@Model.email</tb>
            <td>@Model.cnpj</td>
            <td>@Model.data_situacao</td>
            <td>@Model.numero</td>


        </tr>

    </table>
}